hr {
    background-color: rgba(0,0,0,.05);
}

.site-footer .wp-block-social-links a {
    color: #fff!important;
}

@media (min-width: 768px) {
    .col-full {
        max-width: 80em;
    }
}

.site-footer .widget .added_to_cart {
    color: #fff!important;
}

.post-type-archive-richweb_algorithm .entry-content .wp-post-image,
.algo-home-latest-loop .wp-post-image {
    margin-left: initial;
    margin-right: initial;
    max-width: 700px;
    border: 1px solid #ddd;
    width: 100%;
}

.algo-home-latest-loop {
    margin-left: 0;
    border-top: 1px solid rgba(0,0,0,.05);
}

.algo-home-latest-loop li {
    margin: 1.41575em 0 0;
    padding: 1em 0;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.hentry .entry-content .algo-home-latest-loop li > a {
    font-size: 2em;
    text-decoration: none;
    font-weight: 300;
}

.post-type-archive-richweb_algorithm .page-header {
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: 30px;
}
.post-type-archive-richweb_algorithm .page-header h1 {
    margin-bottom: 10px;
}

.post-type-archive-richweb_algorithm .page-header .taxonomy-description {
    display: none;
}

.post-type-archive-richweb_algorithm .entry-header h2 {
    font-size: 2.2em;
    margin-bottom: 8px;
}

.single-richweb_algorithm .entry-content .wp-post-image {
    display: none;
}

.page-template-homepage .entry-header {
    display: none;
}

.page-template-homepage .storefront-product-section.storefront-recent-products .section-title {
    text-align: left;
}

.page-template-homepage .button.storefront-hero__button-edit {
    display: none;
}

.site-header .custom-logo-link {
    display: inline-block;
}

.site-header .site-branding img {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    max-width: 100%;
}

.site-header .site-branding .site-title {
    vertical-align: middle;
    display: inline-block;
}
